:root{
    --visible-menu: none;
}
header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 20em;
    margin: auto;
}
img + p{
    text-align: center;
}
/*Structure*/
header{
    margin-bottom: 1em;
}
header h1{
    font-size: 4em;
    text-align: center;
}
.nav_menu--collapsible{
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.nav_menu--collapsible input#collapsible_menu{
    display: none;
}
input:checked ~ .div_menu{
    max-height: 100%;
}
.nav_menu--collapsible--checkable{
    color: white;
    background-color: black;
    width: 5ch;
    padding: 0.75em;
}
.nav_menu--collapsible label{
    /*font-family: 'Sedgwick Ave Display', cursive;*/
    font-size: 3em;
    display: block;
    cursor: pointer;
    background: url(icons/collapsible_menu.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}
.div_menu{
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.nav_menu--collapsible ul{
    list-style-type: none;
    padding: 0;
}
.nav_menu--collapsible li a{
    display:block;
    padding: 10px;
    text-decoration: none;
}
.section__pizzas-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section__pizzas-section article{
    margin-left: 1em;
    margin-right: 1em;
}
@media print{
    body{
        font-size: 10pt;
    }
    input{
        display: none;
    }
}
